@import '~vue-material/dist/vue-material.min.css';
@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
    primary: #212121,
    accent: #1a11e8
));

@import "~vue-material/dist/theme/all";

a, a:hover {
    text-decoration: none !important;
}

html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#page-container, .md-app {
    height: 100%;
}

#page-container .md-app-content {
    background-color: lightgrey;
}

header .md-toolbar .md-title > a, header .md-toolbar .md-title > a:hover,
header .md-toolbar .md-list-item > a, header .md-toolbar .md-list-item > a:hover  {
    color: #FFF;
}

.md-card {
    margin-bottom: 1em;
}