<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.ico') }}">
        <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">

        <title>{% block title %}Crucible of Legends{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('style') }}
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        {% endblock %}
    </head>
    <body>
        <div id="app"></div>

        {% block body %}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
